/* pseudo-classe ---- variaveis de estilo da paleta de cores */
:root{
    --White: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --Blue: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
}
/* Reset css */
*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}
a{
    color: hsl(228, 45%, 44%);
}
body{
    width: 100%;
    height: 100vh;
    background: var(--LightGray);
    
}
.conteiner{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.conteiner-principal{
    width: 350px;
    height: 550px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.31);
    
    background: var(--White);
}
img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
h1{
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0 25px;
}
p{
    font-size: 1.6rem;
    font-weight: 400;
    color: gray;
    margin: 0 25px 25px 25px;

}
footer{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    bottom: 0;
    
    
    background: var(--LightGray);
}